[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
[submodule "site/themes/almeida-cv"]
	path = site/themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
